/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none;
  
}

ul.nice-menu li {
  border: 0;
  border-top: 0;
  float: left; /* LTR */
  background-color: #eee;
}

ul.nice-menu a, ul.nice-menu li a {
  padding: 0.3em 5px 0.3em 5px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  
}

ul.nice-menu ul {
  top: 45px;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

ul.nice-menu ul ul {
  top: 0px;
  }
  
ul.nice-menu ul ul li .menu-465 {margin-top:30px;}

ul.nice-menu ul li {
  width: 12.5em;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: #000 url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: #444 url(arrow-right.png) right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #000 url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #ccc url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

ul.nice-menu-down li {
  border:0;
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
  margin-top:40px;
  border:0;
}

ul.nice-menu-down ul li {
  clear: both;
  background: #1f7ec2;
  padding:5px 20px;
  color: white;
  width:200px;
  
}

ul.nice-menu-down ul li ul li.menuparent {
  clear: both;
  background: #000;
  color: white;
  
}

ul.nice-menu-down li ul li.menuparent {
background: #1f7ec2;
padding:5px 20px;
color: white;}



ul.nice-menu-down li ul li ul {
  left: 240px; /* LTR */
  top: -40px;
  border:0;
  
}

ul.nice-menu-down .menuparent a {
  padding-right: 20px; /* LTR */
}

ul.nice-menu-down li.menuparent{
  background: #000;
  padding:25px;
  color: white; /* LTR */
}

ul.nice-menu-down li.menuparent:hover {
  background: #1f7ec2;
  color:white;/* LTR */
}

ul.nice-menu-down ul li:hover, ul.nice-menu-down li ul li.menuparent:hover {background: #31a3dc;}

ul.nice-menu-down li li.menuparent {
  background: #eee url(arrow-right.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat; /* LTR */
}

/******************************
 Garland-specific CSS
******************************/

/**
 * Global CSS for ALL menu types
 */
ul.nice-menu li {
  margin: 0;
  padding-left: 0; /* LTR */
  background-image: none;
}

#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: #eee;
}

#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

#header-region ul.nice-menu ul {
  top: 1.7em;
}

/**
 * HORIZONTAL (down) menus
 */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

#header-region ul.nice-menu-down li.menuparent {
  background: #000; /* LTR */
}

#header-region ul.nice-menu-down li.menuparent:hover {
  background: #fff; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent {
  background: #eee url(arrow-right.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat; /* LTR */
}

/**
* NICE MENU 2 - for User controls
*/
#nice-menu-2 {height:20px;}
#nice-menu-2 a:link {font-size: 11px;}
#nice-menu-2 li {padding:5px; background: black; margin-right:5px; text-align: center;}
#nice-menu-2 li:hover {background: #1f7ec2;}
#nice-menu-2 ul {margin-top:5px;}
