/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {font-family: helvetica, arial, sans-serif; font-size:81%;}

table, td {border: none;}

/*---Typography---*/
h1, h2, h3, h4, h5, h6 	{font-family:helvetica, arial, sans-serif; font-weight: normal; letter-spacing: 1px;}
h1						{font-size:24px; color:#1f7ec2; margin:0 0 30px 0; line-height:1.666;}
.front h1#page-title	{margin-bottom:10px;}
h2, h2.block-title		{font-size:20px; color:#1f7ec2; margin:0 0 20px 0; line-height:1;}
h3						{font-size:18px; color:#1f7ec2; margin:0 0 20px 0; line-height:1.111;}
h4						{font-size:15px; margin:0 0 20px 0; line-height:1.333}
.stat_body h6			{font-size:14px; color:#1f7ec2; margin:0;}
p		 				{font-family: helvetica, arial, sans-serif; font-weight: normal; color: #6b6b6b; font-size: 1em; line-height:1.538; margin:0 0 20px 0;}
li						{list-style: none;}
#region-content li {list-style: disc;}

blockquote p			{font-size: 18px; font-style: italic; font-family: 'Times New Roman';}

a:link, a:visited 		{color:#f69b0f; font-weight: bold; text-decoration: none;}
a:hover 				{text-decoration: underline;}

.stat					{font-size: 30px; color:#1f7ec2; vertical-align: middle; text-align: right;}
.stat_body				{vertical-align: middle; text-align: left;}
p.callout				{color:#fff; font-size:30px;}

#contact_table p, #contact_table h4 {margin-bottom: 0;}

footer p, footer p.terms a:link, footer p.terms a:visited				{color:#fff;}
footer p.terms															{font-size:11px;}
.footer-phone			{background:url(/sites/all/themes/surrey_youth_focus/images/footer_contact.jpg) no-repeat 0 10px; padding-left:30px;}


/*---buttons---*/
a.grey_button:link, a.grey_button:visited		{color:#6b6b6b;
												background: #fefefd; /* Old browsers */
												background: -moz-linear-gradient(top,  #fefefd 0%, #fefefd 100%); /* FF3.6+ */
												background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefd), color-stop(100%,#fefefd)); /* Chrome,Safari4+ */
												background: -webkit-linear-gradient(top,  #fefefd 0%,#fefefd 100%); /* Chrome10+,Safari5.1+ */
												background: -o-linear-gradient(top,  #fefefd 0%,#fefefd 100%); /* Opera 11.10+ */
												background: -ms-linear-gradient(top,  #fefefd 0%,#fefefd 100%); /* IE10+ */
												background: linear-gradient(to bottom,  #fefefd 0%,#fefefd 100%); /* W3C */
												background: #fefefd\9;
												border:1px solid #dddddd;
												-webkit-border-radius: 5px;
												border-radius: 5px;
												width:140px;
												padding:5px 0;
												display: inline-block;
												text-align: center;
												}
												
a.grey_button:hover								{color:#fff;
												background: #666; /* Old browsers */
												border:1px solid #666;
												text-decoration: none;
												}
												
a.orange_button:link, a.orange_button:visited, input[type="submit"]	{color:#fff;
												
												background: -moz-linear-gradient(top,  #dd730f 0%, #f69b0f 100%); /* FF3.6+ */
												background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd730f), color-stop(100%,#f69b0f)); /* Chrome,Safari4+ */
												background: -webkit-linear-gradient(top,  #dd730f 0%,#f69b0f 100%); /* Chrome10+,Safari5.1+ */
												background: -o-linear-gradient(top,  #dd730f 0%,#f69b0f 100%); /* Opera 11.10+ */
												background: -ms-linear-gradient(top,  #dd730f 0%,#f69b0f 100%); /* IE10+ */
												background: linear-gradient(to bottom,  #dd730f 0%,#f69b0f 100%); /* W3C */
												background: #dd730f\9;
												border:1px solid #DD730F;
												-webkit-border-radius: 5px;
												border-radius: 5px;
												width:140px;
												padding:5px 0;
												display: inline-block;
												text-align: center;
												text-shadow:none;
												}
												
a.orange_button:hover, input[type="submit"]:hover							{color:#fff;
												background: #DD730F; /* Old browsers */
												border:1px solid #DD730F;
												text-decoration: none;
												}
												
input#edit-submitted-financial-questions-if-you-have-a-quote-please-attach-it-here-upload-button {width:80px; padding:2px;}
												
a.blue_button:link, a.blue_button:visited		{color:#fff;
												background: #1b83b8; /* Old browsers */
												background: -moz-linear-gradient(top,  #1b83b8 21%, #195f81 100%); /* FF3.6+ */
												background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#1b83b8), color-stop(100%,#195f81)); /* Chrome,Safari4+ */
												background: -webkit-linear-gradient(top,  #1b83b8 21%,#195f81 100%); /* Chrome10+,Safari5.1+ */
												background: -o-linear-gradient(top,  #1b83b8 21%,#195f81 100%); /* Opera 11.10+ */
												background: -ms-linear-gradient(top,  #1b83b8 21%,#195f81 100%); /* IE10+ */
												background: linear-gradient(to bottom,  #1b83b8 21%,#195f81 100%); /* W3C */
												background:#1b83b8\9;
												border:1px solid #1b83b8;
												-webkit-border-radius: 0px 0px 5px 5px;
												border-radius: 0px 0px 5px 5px;
												width:90%;
												padding:4px 0;
												display: inline-block;
												text-align: center;
												font-weight: normal;
												}
												
a.blue_button:hover								{color:#fff;
												background: #1b83b8; /* Old browsers */
												border:1px solid #1b83b8;
												text-decoration: none;
												}
												
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {background: none;}



/*---Zones----*/

/*Navigation bar*/
#zone-branding-wrapper 	{background: black;}
/*End Navigation*/
#zone-preface h4		{color:#fff; text-align: center; margin:0;}
.front #zone-content-wrapper	{padding-top:20px; margin-top:200px;}
#zone-content-wrapper {padding-top:20px;}

/*#zone-content aside,*/#region-sidebar-second, .highlight_block, #block-block-7, #block-block-21 	{background: #f9f9f9; outline: 1px solid #dcdcdc;}
#block-block-21 {margin:0 0 20px 0;}
#block-block-21 .orange_button {width:100%; padding:10px 0;}

#zone-content img {width:100%; height:auto;}


/*---End of Zones----*/


/*---Sections----*/
/*.front #section-header {background: url(/sites/all/themes/surrey_youth_focus/images/dummer_image.jpg) no-repeat center top; background-size: cover;}*/
#section-header 		{background-image: none; background: #000; }

/*---Regions---*/
.region-header-second-inner {margin-right:-10px;}
.region-sidebar-second-inner	{padding: 10px;}
#region-preface-first {background: black; margin:0; width:100%;}
/*------Contact Regions------*/
.page-node-13 #region-postscript-first, .page-node-13 #region-postscript-second {height:200px;}

/*Field Styles*/
.field-name-field-top-image 				{margin-bottom:20px;}
.field-name-field-accommodation-details 	{margin-bottom: 10px;}
.field-name-field-resources 				{margin-bottom: 20px;}
.field 		{font-family: helvetica, arial, sans-serif; font-weight: normal; color: #6b6b6b; font-size: 1em; line-height:1.538; margin:0 0 5px 0;}
/*.field p 	{margin-bottom: 0;}*/
.field-name-field-recreational-facilities .field-item {margin-right:5px;}


/*---blocks---*/
#block-block-4 			{background: rgba(31,126,194,0.85); background:#1b83b8\9; padding:10px; margin-top:30px;}
#block-block-4 .orange_button, #block-block-4 .grey_button {width:45%;}
#block-block-2 {margin-top:10px; }
#block-block-8 {border-top:1px solid #dcdcdc; padding:10px 0; margin-top:10px;}
#block-views-news-block	{border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; padding:10px 0; margin:0 0 10px 0;}
#block-easy-breadcrumb-easy-breadcrumb {margin-top:10px;}
#block-block-7 .block-inner, #block-block-21 .block-inner {padding:10px;}
#block-block-12 .block-inner {background: rgba(0,0,0,0.6); background:#000000\9; height:20px; text-align: center; padding:5px 0;}
#block-block-18, #block-block-19, #block-block-20 {float:left; width:29%; -webkit-border-radius: 5px; border-radius: 5px; background:#f9f9f9; border:1px solid #dcdcdc;}
#block-block-18, #block-block-19 {height:360px;}
#block-block-18 .block-inner, #block-block-19 .block-inner, #block-block-20 .block-inner {padding:10px;}
#block-block-19 .orange_button {margin-top:16px;}
#block-block-19 {margin:0 5%;}
#block-views-volunteer-vacancies-block, #block-views-volunteer-vacancies-block-1	{border-bottom:1px solid #dcdcdc; padding:10px 0; margin:0 0 10px 0;}



/*Page elements*/
header {margin: 0 auto; height:100px; background: #000;}
.logo-img {margin-top:5px;}
footer {background:#000; color:#fff; padding:20px 0; margin-top:40px;}
*::-moz-focus-inner {background: none;}
#zone-user {display:none;}

/*Contact Page*/
.view-contact-team .item-list ul li {display: inline-block; margin:0;}
.view-contact-team .item-list ul li.views-row-2, .view-contact-team .item-list ul li.views-row-3 {margin:0 5px;}
.view-contact-team .item-list ul li h3 {margin-top:5px;}
.view-contact-team .item-list ul li .views-field-body  {margin-bottom:5px;}

/*Members Directory*/
.view-members-directory td {vertical-align: top; width:20%;}
.view-members-directory .views-field-field-image {height:80px;}
.view-members-directory .views-field-title {min-height:40px; overflow: visible;}
..view-members-directory .views-field-body {height:150px;}

/*Membership*/
.not-logged-in .menu-470 {display: none;}

/*Member Offers Page*/
#discount_button, #offers_button, #business_button {width:100%; float:left; min-height:100px; -webkit-border-radius: 5px; border-radius: 5px;}

#offers_button {margin:10px 0;}
#discount_button p, #offers_button p, #business_button p {font-size:13px; color:white; margin:0 20px;}
#discount_button a:link, #offers_button a:link, #business_button a:link, #block-views-members-offers-block-3 a:link, #block-views-members-offers-block-3 a:link, #discount_button a:visited, #offers_button a:visited, #business_button a:visited, #block-views-members-offers-block-3 a:visited {color:white; font-weight: normal;}
#discount_button h1, #offers_button h1, #business_button h1 {margin:20px 20px 0 20px; line-height: 1.2;}
#discount_button 	{background:#0e92f0;}
#offers_button		{background:#02b8d9;}
#business_button	{background:#3F448A;}
#block-views-members-offers-block-3 {background:#df1970; -webkit-border-radius: 5px; border-radius: 5px; padding:20px; margin:20px 0;}
#block-views-members-offers-block-3 h2 {color:white;}
#block-views-members-offers-block-3 td {width:300px;}
#block-views-members-offers-block-3 {font-size:13px; color:white;}
#block-views-members-offers-block-3 .views-field-field-image {width:280px; float:left; margin-right:30px;}
#block-views-members-offers-block-3 .views-field-field-image img {border:5px solid white;}
#block-views-members-offers-block-3 .views-field-title {width:500px; float:left; font-size:24px; letter-spacing:1px;}
#block-views-members-offers-block-3 .views-field-field-organisation {width:500px; float:left; font-size:20px; margin-top:3px;}
.node-type-members-directory #zone-content img {width:250px;}

#block-views-members-offers-block .views-row, #block-views-members-offers-block-1 .views-row {width:44%; float:left; margin:1%; background:#f9f9f9; border:1px solid #dcdcdc; -webkit-border-radius: 5px; border-radius: 5px; padding:5px 5px 10px 5px; height:230px;}

#block-views-members-offers-block-2 .views-row, .page-members #region-content .views-row, .page-associate-members #region-content .views-row, .page-partners #region-content .views-row {width:44%; float:left; margin:1%; background:#f9f9f9; border:1px solid #dcdcdc; -webkit-border-radius: 5px; border-radius: 5px; padding:5px 5px 10px 5px; height:330px}

#block-views-members-offers-block-2 .views-row {height:150px;}

#block-views-members-offers-block-1 {margin:40px 0;}


.view-members-directory .views-field-field-image {height:120px;}
/*Gallery setup*/

#galleria-1, .galleria-container {height:100%;width:100%;}
.galleria-container {background:#f9f9f9; outline: 1px solid #dcdcdc; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; margin-bottom:10px; }

/*grants form*/
.page-node-114 fieldset {width:100%;}
.page-node-114 fieldset fieldset {margin:0;}

.page-node-114 fieldset legend {background: #1f7ec2; color: white; font-size: 14px; width:100%; padding:5px 10px; margin:10px 0;}

.page-node-114 fieldset fieldset fieldset legend {background: #0e92f0; color: #fff; font-size: 12px; width:100%; margin:0;}


/* Responsive stuff */
#block-nice-menus-1 {display:none;}
#block-jump-menu-jump-menu-m-main-menu {margin-top:10px;}


/*job Vacancies*/
.view-job-vacancies .views-row {margin-bottom: 20px;}
.view-job-vacancies .views-row h3 {margin:0;}

#zone-content img.BITC {width:200px;}

.image-article_image {margin:0 10px 10px 0;}





