/* This file will hold styles that are loaded using the same media query as the wide grid. */
header {width:1200px;}
#block-quickmenu-main-menu {display: none;}
.not-logged-in #region-user-first {margin-left:810px;}
/*Resource Directory*/
.node-type-resource-listing article.node-resource-listing .field-label, .node-volunteering-vacancies .field-label {width:350px; }

#zone-content img.BITC {width:200px;}

/*Contact*/

#block-block-13 {width:160px; float:left; margin-right:20px;}
#block-block-13 h4 {margin-bottom: 0; margin-top:5px;}
#block-block-14 {width:600px; float:right;}
#block-views-contact-team-block {width:780px; float:left;}
.view-contact-team .item-list ul li .views-field-field-job-description  {margin-bottom:5px; height:100px;}




