/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
h1, h2, h3, h4, h5, h6 	{font-family: helvetica, arial, sans-serif; font-weight: normal; letter-spacing: 1px;}
h1						{font-size:20px; color:#1f7ec2; margin:0 0 20px 0; line-height:1.666;}
.front h1#page-title	{margin-bottom:10px;}
h2, h2.block-title		{font-size:18px; color:#1f7ec2; margin:0 0 10px 0; line-height:1;}
h3						{font-size:16px; color:#1f7ec2; margin:0 0 10px 0; line-height:1.111;}
h4						{font-size:13px; margin:0 0 10px 0; line-height:1.333}
.stat_body h6			{font-size:14px; color:#1f7ec2; margin:0; line-height: 1.2;}
.stat					{font-size: 40px;}
body, p		 			{font-size: 11px;}
p	{margin:0 0 10px 0;}
  header {width:720px; height:340px;}
  .not-logged-in #region-user-first {margin-left:490px;}
  .logo-img {margin-right:0;}
 img#logo {width:100%; margin-top:10px;}
 #region-preface-first {width: 100%; margin:0; padding:0;}
 #block-block-4 .orange_button, #block-block-4 .grey_button {width:90px;}


 #block-quickmenu-main-menu {display: none;}
 #zone-content img {width:100%; height:auto}
 p.callout				{color:#fff; font-size:24px;}
 


 ul.nice-menu-down li.menuparent {padding:25px 20px;}
 #discount_button, #offers_button, #business_button {
    border-radius: 5px 5px 5px 5px;
    float: left;
    min-height: 150px;
    width: 30%;
}

#block-views-members-offers-block p a:link, #block-views-members-offers-block-1 p a:link, #block-views-members-offers-block-2 p a:link, #block-views-members-offers-block p a:visited, #block-views-members-offers-block-1 p a:visited, #block-views-memberss-offers-block-2 p a:visited {font-size:12px;}

#discount_button h1, #offers_button h1, #business_button h1 {font-size:14px;}

#search-block-form input[type="submit"] {width:50px; font-size: 10px;}
#edit-search-block-form--2 {width:80px;}
.page-search #region-content #search-form #edit-keys {width:250px;}

#zone-content img.BITC {width:200px;}

#block-block-13 {width:460px; margin:0;}
#block-block-13 h4 {margin-bottom: 0; margin-top:5px;}
#block-block-14 {width:460px;  margin:0;}
#block-block-14 td {padding: 0;}
#block-views-contact-team-block {width:460px; float:left;}
#block-views-contact-team-block li {margin:0 5px 10px 5px;}
.view-contact-team .item-list ul li .views-field-field-job-description  {margin-bottom:5px; height:120px;}



