/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 header {width:960px;}
 #block-quickmenu-main-menu {display: none;}
 .not-logged-in #region-user-first {margin-left:650px;}
.logo-img {margin-right:0;}
 img#logo {width:100%; margin-top:5px;}
 /*Resource Directory*/
.node-type-resource-listing article.node-resource-listing .field-label, .node-volunteering-vacancies .field-label {width:200px; }

/*typography*/
h2 						{font-size:16px;}
p.callout				{color:#fff; font-size:36px;}

#search-block-form input[type="submit"] {width:60px;}
#edit-search-block-form--2 {width:130px;}

#zone-content img.BITC {width:200px;}

/*Contact*/

#block-block-13 {width:120px; float:left; margin-right:20px;}
#block-block-13 h4 {margin-bottom: 0; margin-top:5px;}
#block-block-14 {width:480px; float:right;}
#block-views-contact-team-block {width:620px; float:left;}
